<html lang="en">
    <%- include("./partials/header.ejs") %> 
    <head>
        <meta charset="utf-8">
        <title>Manage Orders - Sun Devil Pizza</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="manage.css">
        <style>
            .incomingOrdersText {
                width: 33%;
                height: 36px;
                color: #ffffff;
                font-family: "Helvetica";
                font-weight: 400;
                font-size: 20px;
                text-align: left;
                float: left;
            }
            .dateTimeOrderPlaced {
                width: 33%;
                height: 36px;
                color: #ffffff;
                font-family: "Helvetica";
                font-weight: 400;
                font-size: 20px;
                text-align: center;
                float:left;
}

            .statusText {
                width: 33%;
                height: 36px;
                color: #ffffff;
                font-family: "Helvetica";
                font-weight: 400;
                font-size: 20px;
                text-align: left;
                float:right
            }           
        </style>
    </head>
    <body style="background-color:#1c1c21;">
       <div class="incomingOrdersText">Incoming Orders</div>
       <div class="dateTimeOrderPlaced">Date/Time Order Placed</div>
       <div class="statusText">Order Status</div>
       <% if(orders.length > 0){ %>
        <% orders.forEach( order => {%>
            <div class="row">
            <div class="rectangle-2">
                <ul>
                    <h1>User Info:</h1>
                    <li><%= "Order #" + order._id%></li>
                    <li><%= "Name: " + order.firstName + " " + order.lastName%></li>
                    <li><%= "Phone number: " + order.phoneNum %></li>
                    <li><%= "ASU ID: " + order.asuID %></li>
                    <li><%= "Email: " + order.email %></li>
                    
                    <h1>Order:</h1>
                    <h2>Pizza:</h2>
                        <li><%=order.pizza.replace(':',' ').replaceAll('{','').replaceAll('}','').replaceAll('"','')%></li>
                    <h3>Toppings:</h3>
                        <li><%=order.toppings.replace(':',' ').replaceAll('{','').replaceAll('}','').replaceAll('"','').replaceAll(',', ', ')%></li>
                    <h3>Sides:</h3>
                    <li><%=order.sides.replace(':',' ').replaceAll('{','').replaceAll('}','').replaceAll('"','')%></li>
                    <h3>Drinks:</h3>
                    <li><%=order.drinks.replace(':',' ').replaceAll('{','').replaceAll('}','').replaceAll('"','')%></li>
                    
                    <h1>Total:</h1>
                    <h2><%=order.cost.replaceAll('{','').replaceAll('}','').replaceAll('"','')%></h2>
                </ul>
            </div>
            <div class="rectangle-3">
                <p><%= order.createdAt%></p>
            </div>
            <div class="rectangle-4"><label for="OrderStatus"></label>
             <select name="OrderStatus" id="OrderStatus">
               <option style="background-color: #1c1c21; color:#ffffff;" value="Cooking" selected>Cooking</option>
               <option value="Picked Up">Picked Up</option>
               <option value="Completed">Completed</option>
               <option value="Canceled">Canceled</option>
             </select></div>
            </div>
        <% }) %>
       <% } else { %>
        <p style="color:white;">There are no orders to display...</p>
       <% } %>
    </body>
</html>